language: python
python:
  - "2.7"
  - "2.6"
  - "2.5"
  - "3.1"
  - "3.2"
install:
  - if [ $TRAVIS_PYTHON_VERSION == '2.5' ]; then pip install -r python25-requirements.txt --use-mirrors; fi
script:
  - python setup.py test
