language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
sudo: false
script:
  - python -m lib2to3 -w -n tests
  - python setup.py test
notifications:
  email: false
  webhooks: https://www.travisbuddy.com/
  on_success: never
deploy:
  provider: pypi
  skip_existing: true
  user: jacquev6
  password:
    secure: eorsWtbj7JUBcy/Ovohg2yxyvyF4Sz9QNqtdPJhLSBzd1S01qoVLVAqsQhfZTxMlSOE4RCPOm+VodhV55oa1RboLah4DpDDW998J61QSo9im7Ch2GBkL3C6XqhWAFr6g4KqTG4h/6QTp5dF8vebXiMADmpshCMMpUxm3FccFY7k=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: PyGithub/PyGithub
    python: "2.7"
