name: Lint
on:
  push:
    branches:
      - main
      - release-v*
  pull_request:
  merge_group:

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r requirements/types.txt
      - uses: liskin/gh-problem-matcher-wrap@v2
        with:
          action: add
          linters: mypy
      - run: mypy --show-column-numbers github tests

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.0

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - run: pip install -r requirements/docs.txt
      - run: pip install -e .
      - run: sphinx-build doc build
